body{
    
    background-color: #0D67B5;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:  0px 80px;
    background-image:url(../img/fundo.jpg);  
    color: white;
    background-size: 100%;
}

